*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Setting the background properties*/
main{
    background: linear-gradient(to right,#ffd89b,#19547b);
    min-height: 100vh;
    display: flex;
}

/*Setting the font style and font weight*/
body{
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*This is the dashboard */
.dashboard{
    flex: 1;
    background-color: white;
    min-height: 100vh;
    width: 30%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
}

/*This is the properties for my information bars*/
.information{
    flex: 2.5;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items:flex-start;
    padding: 3rem;
}

/*Setting the background color and width of the information bar*/
.info{
    background-color: white;
    background: linear-gradient(to left, rgba(255,255,255,0.4),rgba(255,255,255,0.6));
    width: 130vh;
    padding: 2rem;
    border-radius: 10px;
}

.dash-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    row-gap: 5rem;

}

/*Setting up the social media icon*
.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 1rem;
}

